body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px;
  font-family: "sacramento", cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #eaf6f6;
}

.top-container {
  background-color: #effffd;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
  margin-top: 100px;
}

#top-cloud {
  position: absolute;
  top: 50px;
  right: 500px;
}
#bottom-cloud {
  position: absolute;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0px;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 18%;
  float: left;
  margin-right: 30px;
}

.cook-img {
  width: 18%;
  float: right;
  margin-left: 30px;
}

.btn {
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.intro{
  width: 30%;
  margin: auto;
}

.mine{
  width: 13%;
}

hr{
  border: none;
  border-top: 5px dotted;
  width: 3.5%;
  margin: 100px auto;
  border-color: grey;
}

.contact-name{
  margin-top: 15px;
}

p{
  line-height: 2;
}

.contact-msg{
  width: 35%;
  margin: 40px auto 60px;
}